{% extends 'viperchat/base.html' %}

{% block content %}
<h2>{{ room.name }}</h2>
<!-- <a href="">Invite friends</a><br> -->
{% if user in masters %}
<a href="{% url 'room_management' room.id %}"><button>Room management</button><br></a>
{% endif %}
About room: {{ room.description }}<br>
Room privacy: {% if room.is_private == False %} Public <br> {% else %} Private<br> {% endif %}
<a href="{% url 'room_users_list' room.id %}">Users</a>
<br>
<h3>Chat:</h3> {% for message in messages %}
<li> {{ message.author }}: {{ message.content }} - {{ message.date_created }} {% if message.date_edited %} Edited: {{ message.date_edited }} {% else %} {{ message.date_created }} {% endif %}
    {% if request.user == message.author %}
    <a href="{% url 'message_edit' message.pk %}"><button>Edit message</button></a>
    {% endif %}
   {% if request.user in deleters or request.user == message.author %} 
| <a href="{% url 'delete_message' message.pk %}"><button>Delete message</button></a>{% endif %} {% endfor %}</li><br>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send">
</form>

{% endblock %}