{% include 'viperchat/server_detail.html' %}
{% load template_filters %}

{% block room %}

<h2>{{ room.name }}</h2>
<!-- <a href="">Invite friends</a><br> -->
{% check_if_logged_user_have_edit_room_permission request.user server as check_permission %}
{% if check_permission == True %}
<a href="{% url 'room_edit' server_id=server.id pk=room.id %}"><button>Edit room</button><br></a>
{% endif %}
About room: {{ room.description }}<br>
Room privacy: {% if room.is_private == False %} Public <br> {% else %} Private<br> {% endif %}
<br>
<h3>Chat:</h3>
<p><a href="{% url 'user_messages_in_room' server_id=server_id pk=room_id username=request.user.username %}"><button>Manage your own messages</button></a>
    {% if request.user in deleters %}
        <a href="{% url 'manage_room_messages' server_id=server_id pk=room_id %}"><button>Manage all messages</button></a>
    {% endif %}
</p>
{% check_if_logged_user_have_permission request.user server send_message_permission as message_permission %}

<textarea id="chat-log" cols="100" rows="20" readonly>{% for message in all_messages %}{{ message.author }}: {{ message.content }} - {{ message.date_created }} {% if message.date_edited %} Edited: {{ message.date_edited }} {% else %} {{ message.date_created }} {% endif %}
        {% if request.user == message.author %}
        <a href="{% url 'message_edit' message.pk %}"><button>Edit message</button></a>
        {% endif %}
       {% if request.user in deleters or request.user == message.author %} 
    | <a href="{% url 'delete_message' message.pk %}"><button>Delete message</button></a>{% endif %} {% endfor %}</textarea><br>
{% if message_permission == True %}
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_id|json_script:"room-id" }}
{{ server_id|json_script:"server-id"}}
<script>
    const roomId = JSON.parse(document.getElementById('room-id').textContent);
    const serverId = JSON.parse(document.getElementById('server-id').textContent);
    console.log(roomId);
    console.log(serverId);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/server/'
        + serverId
        + '/rooms/'
        + roomId
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>

{% endif %}



{% endblock %}