{% extends 'viperchat/base.html' %}
{% load template_filters %}
{% block title %}Server details {% endblock %}

{% block content %}
<h2>{{ server.name }} </h2>
{% for group in server_groups %}
{% if request.user in group|group_users and create_permission in group.permissions.all %}
<a href="{% url 'create_room' server.id %}"><button>Create room</button></a><br>
{% endif %}
{% endfor %}

About server: {{ server.description }}<br>
{% if request.user in server.users.all %}
Creator: {{ server.creator }} <br>
<a href="{% url 'server_users_list' server.id %}">Users</a>
<br>

Rooms: {% for room in server.room_set.all %}
<a href="{% url 'room_detail' server_id=server.id pk=room.id %}">{{ room.name }}</a>, 
{% endfor %}
<br>
{% else %}
<a href="{% url 'join_server' server.pk %}">Join server for more details</a>
{% endif %}
{% block room %}

{% endblock %}
{% endblock %}