{% extends 'viperchat/base.html' %}
{% load template_filters %}
{% block title %}Server details {% endblock %}

{% block content %}
<h2><a href="{% url 'server_detail' server.id %}">{{ server.name }}</a> </h2>
{% for group in server_groups %}
{% if request.user in group|group_users and create_permission in group.permissions.all %}
<a href="{% url 'create_room' server.id %}"><button>Create room</button></a> | 
{% endif %}
{% if request.user in group|group_users and edit_permissions in group.permissions.all %}
<a href="{% url 'server_edit' server.id %}"><button>Change server info</button></a> | 
<a href="{% url 'server_groups_management' server.id %}"><button>Manage permissions</button></a> | 
{% endif %}
{% if request.user in group|group_users and delete_users_permission in group.permissions.all %}
<a href="{% url 'server_users_list' server.id %}"><button>Manage users</button> </a> |
{% endif %}
{% if request.user in group|group_users and send_invitation_permission in group.permissions.all %}
<a href="{%url 'server_invite' server.id %}"><button>Invite to server</button></a> |
{% endif %}
{% endfor %}

<br>
About server: {{ server.description }}<br>
{% if request.user in server.users.all %}
Creator: {{ server.creator }} <br>
{% if request.user in owners_group|group_users %}

Users:
{% for user in server.users.all %}
<a href="{% url 'user_detail' user.username %}">{{ user.username }} </a> | 
{% endfor %}
<br>
{% else %}
Users:
{% for user in server.users.all %}
<a href="{% url 'user_detail' user.username %}">{{ user.username }} </a> | 
{% endfor %}
<br>
{% endif %}

{% check_if_logged_user_private_room_permission request.user server as private_room_permission %}

Rooms: {% for room in server.room_set.all %}
{% if room.is_private == False %}
<a href="{% url 'room_detail' server_id=server.id pk=room.id %}">{{ room.name }}</a> | 
{% elif private_room_permission == True %}

<a href="{% url 'room_detail' server_id=server.id pk=room.id %}">{{ room.name }}</a> | 
{% endif %}
{% endfor %}
<br>
{% else %}
<a href="{% url 'join_server' server.pk %}">Join server for more details</a>
{% endif %}
{% block room %}

{% endblock %}
{% endblock %}