{% extends 'viperchat/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile</h2>
{% if messages %}
    {% for message in messages %}
        <span style="color : green"> <b>{{ message }}</b></span><br>
    {% endfor %}
{% endif %}
{% if request.user == user %}
<a href="{% url 'edit_profile' user.username %}">Edit profile</a> |
<a href="{% url 'notifications' user.username %}">Notifications</a> |
<a href="{% url 'friend_request_list' user.username %}">Friend requests</a> |
<a href="{% url 'user_server_invites' user.username %}">Server requests</a> |
<a href="{% url 'logged_user_servers' user.username %}">Your servers</a> | <br>
{% else %}
{% if friend_request.exists %}
    {% for request in friend_request %}
    {% if request.status == 'waiting' %}
        <a href="{% url 'friend_request_delete' request.pk %}">Cancel friend request</a><br>
    {% endif %}
    {% endfor %}
{% elif request.user in user.friends.all %}
<span style="color : green">Already friends</span> | <a href="{% url 'delete_friend' user.username %}">Delete from friendlist</a><br>
{% elif friend_request_mirror.exists %}
    {% for request in friend_request_mirror%}
    <a href="{% url 'friend_request_detail' request.pk %}">User sent you invitation</a><br>
    {% endfor %}
{% else %}
    <a href="{% url 'friend_notification' user.username %}">Add friend</a><br>
{% endif %}
{% endif %}

Username: {{ user.username }} <br>
{% if request.user == user or user_settings.everyone_see_your_profile == 'Forbidden' and request.user in user.friends.all or user_settings.everyone_see_your_profile == 'Allowed' %}
{% if request.user == user or user_settings.hide_email == 'Forbidden' %}
Email: {{ user.email }}<br>
{% endif %}
{% if request.user == user or user_settings.hide_first_name == 'Forbidden' %}
First name: {{ user.first_name }}<br>
{% endif %}
{% if request.user == user or user_settings.hide_surname == 'Forbidden' %}
Surname: {{ user.last_name }}<br>
{% endif %}
{% if request.user == user or user_settings.hide_friends == 'Forbidden' %}
Friends: <br>{% for friend in user.friends.all %}
            <a href="{% url 'user_detail' friend.username %}">{{ friend.username }} </a>{% if request.user == user %}| 
                 <a href="{% url 'delete_friend' friend.username %}">Delete friend</a>{% endif %}<br>
        {% endfor %}
{% endif %}

<br>
{% if chat %}
{% for message in chat %}
<li> {{ message.author }}: {{ message.content }} --------{% if message.date_edited %} Edited: {{ message.date_edited }} {% else %} {{ message.date_created }} {% endif %} | 
    {% if request.user == message.author %}
    <a href="{% url 'message_edit' message.pk %}"><button>Edit message</button></a>
    <a href="{% url 'delete_message' message.pk %}"><button>Delete message</button></a>
    {% endif %}
{% endfor %}
{% endif %}
{% if request.user != user %}
{% if request.user in user.friends.all %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send">
</form>
{% endif %}
{% endif %}
{% endif %}

{% endblock %}

{% block user %}

{% endblock %}