{% extends 'viperchat/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile</h2>
{% if messages %}
    {% for message in messages %}
        <span style="color : green"> <b>{{ message }}</b></span><br>
    {% endfor %}
{% endif %}
<a href="{% url 'edit_profile' user.username %}">Edit profile</a><br>
Username: {{ user.username }} <br>
Email: {{ user.email }}<br>
First name: {{ user.first_name }}<br>
Surname: {{ user.last_name }}<br>
Friends: {% for friend in user.friends_set.all %}
            {{ friend.username }}<br>
        {% endfor %}


{% endblock %}