{% load template_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Home
        {% endblock %}
    </title>
</head>
<body> <div id="weather" class="weather"></div>
    <a href="{% url 'home' %}">Home</a> | 
    <a href="{% url 'servers' %}">Servers</a> |
    <a href="{% url 'search' %}">Search</a> |

    {% if user.is_authenticated %}
        <a href="{% url 'user_detail' request.user.username %}">{{ request.user.username }} </a> |
        <a href="{% url 'account_logout' %}">Logout</a> |
    {% else %}
        <a href="{% url 'account_login' %}">Login</a> | 
        <a href="{% url 'account_signup' %}">Register</a> |
       
    {% endif %}
    <hr>
    {% block content %}
        <h1>{{ welcome }} </h1>
        <a href="{% url 'create_server' %}">Create your own server</a>
    {% endblock %}
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>